---
const header = await fetch(
    "https://common-ethmarks.vercel.app/header-about.wc.html",
).then((r) => r.text());
const footer = await fetch(
    "https://common-ethmarks.vercel.app/footer.wc.html",
).then((r) => r.text());

const title = "About Me";
const description = "About Me page for Ethan Marks";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>{title}</title>

        <meta name="generator" content={Astro.generator} />
        <meta name="description" content={description} />
        <meta property="og:title" content={title} />
        <meta property="og:description" content={description} />
        <meta property="og:type" content="profile" />

        <link
            rel="icon"
            href="https://common-ethmarks.vercel.app/ethmarks.ico"
            type="image/x-icon"
        />
        <link
            rel="stylesheet"
            href="https://common-ethmarks.vercel.app/ethmarks-rich.css"
        />
        <script src="https://common-ethmarks.vercel.app/ethmarks.wc.js"
        ></script>
    </head>
    <body>
        <eth-header active="about">
            <Fragment set:html={header} />
        </eth-header>
        <slot />
        <eth-footer source="https://github.com/ethmarks/about">
            <Fragment set:html={footer} />
        </eth-footer>
    </body>
</html>
